<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luoyu.blog.mapper.video.VideoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.luoyu.blog.entity.video.Video">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="alternate_name" property="alternateName" />
        <result column="cover" property="cover" />
        <result column="video_url" property="videoUrl" />
        <result column="author" property="author" />
        <result column="category_id" property="categoryId" />
        <result column="production_region" property="productionRegion" />
        <result column="director" property="director" />
        <result column="release_time" property="releaseTime" />
        <result column="duration" property="duration" />
        <result column="language" property="language" />
        <result column="to_star" property="toStar" />
        <result column="score" property="score" />
        <result column="screenwriter" property="screenwriter" />
        <result column="synopsis" property="synopsis" />
        <result column="publish" property="publish" />
        <result column="watch_num" property="watchNum" />
        <result column="like_num" property="likeNum" />
        <result column="comment_num" property="commentNum" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <resultMap id="WithTagList" type="com.luoyu.blog.entity.video.vo.VideoVO" extends="BaseResultMap">
        <association property="tagList" column="{linkId=id, module=module}" select="com.luoyu.blog.mapper.operation.TagMapper.listByLinkId"/>
    </resultMap>

    <sql id="homeVideoColumn">
        id,title,alternate_name,cover,video_url,author,production_region,director,release_time,duration,language,
        to_star,score,screenwriter,synopsis,create_time,update_time,watch_num,comment_num,like_num
    </sql>

    <sql id="manageVideoColumn">
       id,title,alternate_name,cover,video_url,author,category_id,production_region,director,release_time,duration,language,
        to_star,score,screenwriter,synopsis,create_time,update_time,publish,watch_num,comment_num,like_num
    </sql>

    <select id="listVideoDTO" resultType="com.luoyu.blog.entity.video.dto.VideoDTO">
        select <include refid="manageVideoColumn"/> from video
        <where>
            <if test="params.title!=null and params.title !=''">
                title like concat('%',#{params.title},'%') or alternate_name like concat('%',#{params.title},'%')
            </if>
        </where>
        order by update_time desc
    </select>

    <update id="updateWatchNum">
        update video set watch_num = watch_num + 1 where id = #{id} and publish = true
    </update>

    <update id="updateLikeNum">
        update video set like_num = like_num + 1 where id = #{id} and publish = true
    </update>

    <select id="checkByCategory" resultType="java.lang.Integer">
        select count(*) from video where category_id = #{categoryId}
    </select>

    <select id="checkByFile" resultType="java.lang.Integer">
        select count(*) from video where video_url = #{url} or cover = #{url}
    </select>

    <select id="selectVideoDTOList" resultType="com.luoyu.blog.entity.video.dto.VideoDTO">
        select <include refid="homeVideoColumn"/> from video where publish = true
    </select>

    <select id="selectVideoListByTitle" parameterType="java.lang.String" resultType="com.luoyu.blog.entity.video.Video">
        select id, title
        from video
        where publish = true
        <if test="name!=null and name!=''">
            and (title like concat('%',#{title},'%') or alternate_name like concat('%',#{title},'%'))
        </if>
        order by id desc
    </select>

    <update id="updateVideoById" parameterType="com.luoyu.blog.entity.video.Video">
        update video
        <set>
            <if test="title!=null and title!=''">
                title = #{title},
            </if>
            <if test="alternateName!=null">
                alternate_name = #{alternateName},
            </if>
            <if test="cover!=null">
                cover = #{cover},
            </if>
            <if test="videoUrl!=null">
                video_url = #{videoUrl},
            </if>
            <if test="author!=null">
                author = #{author},
            </if>
            <if test="categoryId!=null">
                category_id = #{categoryId},
            </if>
            <if test="productionRegion!=null">
                production_region = #{productionRegion},
            </if>
            <if test="director!=null">
                director = #{director},
            </if>
            <if test="releaseTime!=null">
                release_time = #{releaseTime},
            </if>
            <if test="duration!=null">
                duration = #{duration},
            </if>
            <if test="language!=null">
                language = #{language},
            </if>
            <if test="toStar!=null">
                to_star = #{toStar},
            </if>
            <if test="score!=null">
                score = #{score},
            </if>
            <if test="screenwriter!=null">
                screenwriter = #{screenwriter},
            </if>
            <if test="synopsis!=null">
                synopsis = #{synopsis},
            </if>
            <if test="publish!=null">
                publish = #{publish},
            </if>
            <if test="watchNum!=null">
                watch_num = #{watchNum},
            </if>
            <if test="commentNum!=null">
                comment_num = #{commentNum},
            </if>
            <if test="likeNum!=null">
                like_num = #{likeNum},
            </if>
            <if test="updateTime!=null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!-- *************************** portal ****************************** -->

    <select id="getSimpleVideoDTO" resultType="com.luoyu.blog.entity.video.dto.VideoDTO">
        select <include refid="homeVideoColumn"/> from video where id = #{id} and publish = true
    </select>

    <select id="getHotWatchList" resultType="com.luoyu.blog.entity.video.dto.VideoDTO">
        select <include refid="homeVideoColumn"/> from video where and publish = true order by watch_num desc limit 5
    </select>

    <select id="selectVideoById" parameterType="java.lang.Integer" resultType="com.luoyu.blog.entity.video.Video">
        select *
        from video
        where id = #{id} and publish = true
    </select>

    <select id="queryPageCondition" resultMap="WithTagList">
        select <include refid="homeVideoColumn"/> , 1 as `module` from video
        <where>
            publish = true
            <if test="params.categoryId !=null and params.categoryId != ''">
                and find_in_set(#{params.categoryId},category_id)
            </if>
        </where>
        <if test="params.latest">
            order by create_time desc
        </if>
        <if test="params.like">
            order by like_num desc
        </if>
        <if test="params.watch">
            order by watch_num desc
        </if>
    </select>

</mapper>
