<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luoyu.blog.mapper.file.FileMapper">

    <select id="selectFileByFileMd5AndModule" resultType="com.luoyu.blog.entity.file.File">
        select *
        from file
        where file_md5 = #{fileMd5}
          and module = #{module}
          and is_chunk = 1
        order by id desc limit 1
    </select>

    <update id="updateFileByFileMd5AndModule" parameterType="com.luoyu.blog.entity.file.File">
        update file
        <set>
            <if test="uploadStatus != null">
                upload_status = #{uploadStatus},
            </if>
            <if test="url != null">
                url = #{url},
            </if>
            update_time = #{updateTime}
        </set>
        where file_md5 = #{fileMd5}
          and module = #{module}
          and is_chunk = 1
    </update>

    <select id="selectFileByIds" resultType="com.luoyu.blog.entity.file.File">
        select * from file where
        id in
        <foreach item="item" index="index" collection="ids"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>
