<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luoyu.blog.mapper.article.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.luoyu.blog.entity.article.Article">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="description" property="description" />
        <result column="author" property="author" />
        <result column="content" property="content" />
        <result column="content_format" property="contentFormat" />
        <result column="read_num" property="readNum" />
        <result column="like_num" property="likeNum" />
        <result column="cover_type" property="coverType" />
        <result column="cover" property="cover" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="category_id" property="categoryId" />
        <result column="publish" property="publish" />
    </resultMap>

    <resultMap id="WithTagList" type="com.luoyu.blog.entity.article.vo.ArticleVO" extends="BaseResultMap">
        <association property="tagList" column="{linkId=id, type=type}" select="com.luoyu.blog.mapper.operation.TagMapper.listByLinkId"/>
    </resultMap>

    <sql id="homeArticleColumn">
        id,title,description,author,read_num,like_num,cover,cover_type,create_time,update_time
    </sql>

    <sql id="manageArticleColumn">
       id,title,description,author,read_num,like_num,cover,cover_type,create_time,update_time,publish,category_id
    </sql>

    <select id="listArticleDTO" resultType="com.luoyu.blog.entity.article.dto.ArticleDTO">
        select <include refid="manageArticleColumn"/> from article
        <where>
            <if test="params.title!=null and params.title !=''">
                and title like concat('%',#{params.title},'%')
            </if>
        </where>
        order by update_time desc
    </select>

    <update id="updateReadNum">
        update article set read_num = read_num + 1 where id = #{id}
    </update>

    <update id="updateLikeNum">
        update article set like_num = like_num + 1 where id = #{id}
    </update>

    <select id="checkByCategory" resultType="Integer">
        select count(*) from article where category_id = #{categoryId}
    </select>

    <select id="selectArticleList" resultType="com.luoyu.blog.entity.article.dto.ArticleDTO">
        select <include refid="homeArticleColumn"/> from article where publish = true
    </select>

    <select id="selectArticleListByTitle" parameterType="java.lang.String" resultType="com.luoyu.blog.entity.article.Article">
        select id, title
        from article
        where publish = true
        <if test="name!=null and name!=''">
            and title like concat('%',#{title},'%')
        </if>
        order by id desc
    </select>

    <update id="updateArticleById" parameterType="com.luoyu.blog.entity.article.Article">
        update article
        <set>
            <if test="title!=null and title!=''">
                title = #{title},
            </if>
            <if test="description!=null">
                description = #{description},
            </if>
            <if test="author!=null">
                author = #{author},
            </if>
            <if test="content!=null">
                content = #{content},
            </if>
            <if test="contentFormat!=null">
                content_format = #{contentFormat},
            </if>
            <if test="readNum!=null">
                read_num = #{readNum},
            </if>
            <if test="commentNum!=null">
                comment_num = #{commentNum},
            </if>
            <if test="likeNum!=null">
                like_num = #{likeNum},
            </if>
            <if test="cover!=null">
                cover = #{cover},
            </if>
            <if test="coverType!=null">
                cover_type = #{coverType},
            </if>
            <if test="updateTime!=null">
                update_time = #{updateTime},
            </if>
            <if test="categoryId!=null">
                category_id = #{categoryId},
            </if>
            <if test="publish!=null">
                publish = #{publish},
            </if>
        </set>
        where id = #{id}
    </update>

    <!-- *************************** portal ****************************** -->

    <select id="getSimpleArticleDTO" resultType="com.luoyu.blog.entity.article.dto.ArticleDTO">
        select <include refid="homeArticleColumn"/> from article where id = #{id}
    </select>

    <select id="getHotReadList" resultType="com.luoyu.blog.entity.article.dto.ArticleDTO">
        select <include refid="homeArticleColumn"/> from article order by read_num desc limit 5
    </select>

    <select id="selectArticleById" parameterType="java.lang.Integer" resultType="com.luoyu.blog.entity.article.Article">
        select *
        from article
        where id = #{id} and publish = true
    </select>

    <select id="queryPageCondition" resultMap="WithTagList">
        select <include refid="homeArticleColumn"/> , 0 as `type` from article
        <where>
            publish = true
            <if test="params.categoryId !=null and params.categoryId != ''">
                and find_in_set(#{params.categoryId},category_id)
            </if>
        </where>
        <if test="params.latest">
            order by create_time desc
        </if>
        <if test="params.like">
            order by like_num desc
        </if>
        <if test="params.read">
            order by read_num desc
        </if>
    </select>

</mapper>
