# Tomcat
server:
  tomcat:
    uri-encoding: UTF-8
    max-connections: 5000
    threads:
      #最大线程数
      max: 1000
      #连接超时时间
      min-spare: 30
  shutdown: graceful # 在web容器关闭时，web服务器将不再接收新请求，并将等待活动请求完成的缓冲期。
  #端口配置
  port: 8800
  servlet:
    #映射项目路径
    context-path: /api/luoyublog

spring:
  application:
    name: luoyublog-backend
  lifecycle:
    # 默认时间为30S, 意味着最大等待30S，超时候无论线程任务是否执行完毕都会停机处理，一定要合理合理设置。
    timeout-per-shutdown-phase: 20s
  jackson:
    serialization:
      # jackson返回时间戳
      write-dates-as-timestamps: true
  servlet:
    multipart:
      #文件上传大小配置
      max-file-size: 1024MB
      max-request-size: 1024MB
  mvc:
    #restFul风格：当找不到页面时，正常抛出错误，不跳转页面
    throw-exception-if-no-handler-found: true
    #仅映射static资源文件
    static-path-pattern: /static/**
  resources:
    #restFul风格: 不要为资源文件建立映射
    add-mappings: false