spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driverClassName: com.mysql.cj.jdbc.Driver
    druid:
      url: jdbc:mysql://47.101.135.160:3306/luoyu_blog?allowMultiQueries=true&useUnicode=true&characterEncoding=UTF-8&useSSL=false&serverTimezone=GMT
      username: root
      password: root
      initial-size: 10
      max-active: 100
      min-idle: 10
      max-wait: 60000
      pool-prepared-statements: true
      max-pool-prepared-statement-per-connection-size: 20
      time-between-eviction-runs-millis: 60000
      min-evictable-idle-time-millis: 300000
      #validation-query: SELECT 1 FROM DUAL
      test-while-idle: true
      test-on-borrow: false
      test-on-return: false
      stat-view-servlet:
        enabled: true
        url-pattern: /druid/*
        #login-username: admin
        #login-password: admin
      filter:
        stat:
          log-slow-sql: true
          slow-sql-millis: 1000
          merge-sql: false
        wall:
          config:
            multi-statement-allow: true
  # redis 配置
  redis:
    host: 47.101.135.160
    port: 6379
    timeout: 6s #连接池超时时长
    password: root
    lettuce:
      pool:
        max-active: 1000 #连接池最大连接数
        max-wait: -1ms #连接池最大阻塞等待时间
        max-idle: 10 #连接池最大空闲连接
        min-idle: 5 #连接池最小空闲连接

  # elasticsearch配置
  data:
    elasticsearch:
      cluster-name: elasticsearch-cluster
      cluster-nodes: 47.101.135.160:9300
  # rabbitMQ配置
  rabbitmq:
    host: 47.94.19.49
    port: 5672
    username: admin
    password: admin
#mybatis-plus
mybatis-plus:
  global-config:
    #刷新Mapper，只在开发环境打开
    refresh: true
oss:
  qiniu:
    domain: http://oss.luoyublog.com
    prefix: luoyublog
    accessKey: 5-AiUrfCk34TDPXZLWIlQzKj8bE8X5Z_jUuCcDRI
    secretKey: tKeAffD383BZX1HPLEMWx9Vhi7B8HaK2Wj-5MRG4
    bucketName: luoyublog

jasypt:
  encryptor:
    password: luoyu-blog-jasypt

# 配置线程池
threadPoolTaskExecutor:
  corePoolSize: 10 # 核心线程数（默认线程数）
  maxPoolSize: 100 # 最大线程数
  keepAliveTime: 10 # 允许线程空闲时间（单位：默认为秒）
  queueCapacity: 200 # 缓冲队列数
  threadNamePrefix: Custom-Executor- # 线程名统一前缀

# 安全停机配置
management:
  endpoint:
    shutdown:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"
      base-path: /monitor
  server:
    port: 9998