spring:
  application:
    name: luoyublog-manage-backend-server
  lifecycle:
    timeout-per-shutdown-phase: 20s # 默认时间为30S, 意味着最大等待30S，超时候无论线程任务是否执行完毕都会停机处理，一定要合理合理设置。
  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://47.101.135.160:3306/luoyu_blog?allowMultiQueries=true&useUnicode=true&characterEncoding=UTF-8&useSSL=false&serverTimezone=GMT
    username: root
    password: root
    # hikari
    hikari:
      connection-test-query: SELECT 1
      ## 最小空闲连接数量
      minimum-idle: 5
      ## 连接池最大连接数，默认是10
      maximum-pool-size: 15
      ## 连接池名称
      pool-name: MyHikariCPOfMaster
      ## 此属性控制池中连接的最长生命周期，值0表示无限生命周期，默认1800000即30分钟
      max-lifetime: 1800000
      ## 数据库连接超时时间,默认30秒，即30000
      connection-timeout: 20000
      ## 空闲连接存活最大时间，默认600000（10分钟）
      idle-timeout: 180000
      ## 此属性控制从池返回的连接的默认自动提交行为,默认值：true
      auto-commit: true
  # redis配置
  redis:
    host: 47.101.135.160
    port: 6379
    timeout: 6s #连接池超时时长
    password: root
    lettuce:
      pool:
        max-active: 1000 #连接池最大连接数
        max-wait: -1ms #连接池最大阻塞等待时间
        max-idle: 10 #连接池最大空闲连接
        min-idle: 5 #连接池最小空闲连接
  # rabbitMQ配置
  rabbitmq:
    host: 121.36.44.234
    port: 5672
    username: admin
    password: admin
    template:
      retry:
        # 开启失败重试
        enabled: true
        # 第一次重试的间隔时长
        initial-interval: 10000ms
        # 最长重试间隔，超过这个间隔将不再重试
        max-interval: 300000ms
        # 下次重试间隔的倍数，此处是2即下次重试间隔是上次的2倍
        multiplier: 2
      # 缺省的交换机名称，此处配置后，发送消息如果不指定交换机就会使用这个
      exchange: luoyublog.topic.exchange
    # 生产者确认机制，确保消息会正确发送，如果发送失败会有错误回执，从而触发重试
    publisher-confirm-type: correlated
    publisher-returns: true
    listener:
      type: simple
      simple:
        acknowledge-mode: manual
        prefetch: 1 #限制每次发送一条数据。
        concurrency: 3 #同一个队列启动几个消费者
        max-concurrency: 3 #启动消费者最大数量
        #重试策略相关配置
        retry:
          enabled: true #是否支持重试
          max-attempts: 5
          stateless: false
          #时间策略乘数因子
          multiplier: 1.0
          initial-interval: 1000ms
          max-interval: 10000ms
        default-requeue-rejected: true
  mail:
    host: smtp.126.com # 不同的邮箱不一致，请自行百度查询
    port: 25 # 126邮箱默认25
    username: luoyusoft@126.com # 发送邮箱
    password: xxx # 授权码
    protocol: smtp
    default-encoding: utf-8
  #    properties: # 此处可以添加ssl端口
  #      mail.smtp.auth: true
  #      mail.smtp.starttls.enable: true
  #      mail.smtp.starttls.required: true
  #      mail.smtp.socketFactory.port: 465
  #      mail.smtp.socketFactory.class: javax.net.ssl.SSLSocketFactory
  #      mail.smtp.socketFactory.fallback: false

# mybatis-plus
mybatis-plus:
  #mapper文件
  mapper-locations: classpath:mapper/**/*.xml
  #实体扫描，多个package用逗号或者分号分隔
  type-aliases-package: com.luoyu.blogmanage.entity
  # 以下配置均有默认值,可以不设置
  global-config:
    # 数据库相关配置
    db-config:
      #主键类型  AUTO:"数据库ID自增", INPUT:"用户输入ID",ID_WORKER:"全局唯一ID (数字类型唯一ID)", UUID:"全局唯一ID UUID";
      id-type: auto
      #字段策略 IGNORED:"忽略判断",NOT_NULL:"非 NULL 判断"),NOT_EMPTY:"非空判断"
      field-strategy: not_empty
      #数据库类型
      db-type: MYSQL
      #刷新Mapper，只在开发环境打开
      refresh: true
  #mybatis原生配置
  configuration:
    #不开启二级缓存
    cache-enabled: false
    # 是否开启自动驼峰命名规则映射:从数据库列名到Java属性驼峰命名的类似映射
    map-underscore-to-camel-case: true
    # 如果查询结果中包含空值的列，则 MyBatis 在映射的时候，不会映射这个字段
    call-setters-on-nulls: true
    # 这个配置会将执行的sql打印出来，在开发或测试的时候可以用
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

# 七牛云配置
oss:
  qiniu:
    domain: https://oss.luoyublog.com
    prefix: luoyublog
    accessKey: 5-AiUrfCk34TDPXZLWIlQzKj8bE8X5Z_jUuCcDRI
    secretKey: tKeAffD383BZX1HPLEMWx9Vhi7B8HaK2Wj-5MRG4
    bucketName: luoyublog

# jasypt配置
jasypt:
  encryptor:
    password: luoyu-blog-jasypt

# 线程池配置
threadPoolTaskExecutor:
  corePoolSize: 10 # 核心线程数（默认线程数）
  maxPoolSize: 100 # 最大线程数
  keepAliveTime: 10 # 允许线程空闲时间（单位：默认为秒）
  queueCapacity: 200 # 缓冲队列数
  threadNamePrefix: custom-executor- # 线程名统一前缀

# xxl-job配置
xxl:
  job:
    admin:
      # 调度中心部署跟地址 [选填]：如调度中心集群部署存在多个地址则用逗号分隔。执行器将会使用该地址进行"执行器心跳注册"和"任务结果回调"；为空则关闭自动注册；
      addresses: http://xxl-job.luoyublog.com/xxl-job-admin
    executor:
      # 执行器注册 [选填]：优先使用该配置作为注册地址，为空时使用内嵌服务 ”IP:PORT“ 作为注册地址。从而更灵活的支持容器类型执行器动态IP和动态映射端口问题。
      address:
      # 执行器AppName [选填]：执行器心跳注册分组依据；为空则关闭自动注册
      appname: luoyublog-manage-prod
      # 执行器IP [选填]：默认为空表示自动获取IP，多网卡时可手动设置指定IP，该IP不会绑定Host仅作为通讯实用；地址信息用于 "执行器注册" 和 "调度中心请求并触发任务"；
      ip:
      # 执行器端口号 [选填]：小于等于0则自动获取；默认端口为9999，单机部署多个执行器时，注意要配置不同执行器端口；
      port: 0
      # 执行器运行日志文件存储磁盘路径 [选填] ：需要对该路径拥有读写权限；为空则使用默认路径；
      logpath: /root/xxl-job/log/jobhandler
      # 执行器日志文件保存天数 [选填] ： 过期日志自动清理, 限制值大于等于3时生效; 否则, 如-1, 关闭自动清理功能；
      logretentiondays: 15
    # 执行器通讯TOKEN [选填]：非空时启用；
    accessToken: token123

management:
  #  server:
  #    # 设置监控服务端口,如果没写默认就是服务器的端口
  #    port: 8081
  endpoint:
    health:
      show-details: always # 显示健康详情
    shutdown:
      enabled: true # 开启shutdown端点访问
  endpoints:
    web:
      base-path: /actuator # 访问根路径
      exposure:
        include: "*" # 开启除了shutdown以外的所有端点访问

# elasticsearch配置
elasticsearch:
  hostname: 47.101.135.160
  port: 9200
  scheme: http