# Tomcat
server:
  tomcat:
    uri-encoding: UTF-8
    max-connections: 5000
    threads:
      #最大线程数
      max: 1000
      #连接超时时间
      min-spare: 30
  #端口配置
  port: 9998
  servlet:
    #映射项目路径
    context-path: /api/luoyublog/manage

spring:
  profiles:
    # 环境 开发dev，测试test，生产prod
    active: dev
  jackson:
    serialization:
      # jackson返回时间戳
      write-dates-as-timestamps : true
  servlet:
    multipart:
      #文件上传大小配置
      max-file-size: 100MB
      max-request-size: 100MB
  mvc:
    #restFul风格：当找不到页面时，正常抛出错误，不跳转页面
    throw-exception-if-no-handler-found: true
    #仅映射static资源文件
    static-path-pattern: /static/**
  resources:
    #restFul风格: 不要为资源文件建立映射
    add-mappings: false