<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luoyu.blogmanage.mapper.operation.RecommendMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, link_id, type, order_num, title, top, publish
    </sql>

    <select id="listRecommendVo" resultType="com.luoyu.blogmanage.entity.operation.vo.RecommendVO">
        select <include refid="Base_Column_List"/> from recommend order by top desc,id desc  limit 5
    </select>

    <select id="listHotRead" resultType="com.luoyu.blogmanage.entity.operation.vo.RecommendVO">
      select *  from (
               select a.id as linkId,a.title,0 as type,a.read_num from article a
               union all
               select bn.id as linkId ,bn.title,2 as type,bn.read_num from book_note bn  ) t order by t.read_num desc limit 5
    </select>

    <select id="selectCount" resultType="java.lang.Integer">
      select count(1) from recommend
    </select>

    <select id="selectRecommendByLinkIdAndType" parameterType="java.lang.Integer" resultType="com.luoyu.blogmanage.entity.operation.Recommend">
      select * from recommend where type = #{type} and link_id = #{linkId}
    </select>

    <update id="updateRecommendByLinkIdAndType" parameterType="com.luoyu.blogmanage.entity.operation.Recommend">
      update recommend
      <set>
          <if test="top!=null">
              top = #{top},
          </if>
          <if test="orderNum!=null">
              order_num = #{orderNum},
          </if>
          <if test="title!=null">
              title = #{title}
          </if>
          <if test="publish!=null">
              publish = #{publish}
          </if>
      </set>
      where type = #{type} and link_id = #{linkId}
    </update>

</mapper>
