<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luoyu.blog.mapper.operation.RecommendMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, link_id, module, order_num,create_time,update_time
    </sql>

    <select id="selectCount" resultType="java.lang.Integer">
        select count(*) from recommend
    </select>

    <select id="selectRecommendByLinkIdAndType" parameterType="java.lang.Integer" resultType="com.luoyu.blog.entity.operation.Recommend">
      select * from recommend where module = #{module} and link_id = #{linkId}
    </select>

    <select id="selectRecommendByOrderNum" parameterType="java.lang.Integer" resultType="com.luoyu.blog.entity.operation.Recommend">
      select * from recommend where order_num = #{orderNum}
    </select>

    <select id="selectRecommends" resultType="com.luoyu.blog.entity.operation.Recommend">
        select * from recommend order by order_num desc
    </select>

    <update id="updateRecommendsOrderNumById" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update recommend
            set order_num = #{item.orderNum}
            where id = #{item.id}
        </foreach>
    </update>

    <update id="updateRecommendOrderNumByLinkIdAndType" parameterType="com.luoyu.blog.entity.operation.Recommend">
      update recommend
      set order_num = #{orderNum}
      where module = #{module} and link_id = #{linkId}
    </update>

    <update id="updateRecommendOrderNumById" parameterType="java.lang.Integer">
        update recommend
        set order_num = #{orderNum}
        where id = #{id}
    </update>

    <select id="selectRecommendMaxOrderNum" resultType="java.lang.Integer">
        select order_num from recommend order by order_num desc limit 1
    </select>

    <!-- *************************** portal ****************************** -->

    <select id="listRecommendDTO" parameterType="java.lang.Integer" resultType="com.luoyu.blog.entity.operation.vo.RecommendVO">
        select <include refid="Base_Column_List"/> from recommend where module = #{module} order by order_num asc
    </select>

</mapper>
